<div id="page-content">
  <h1 class="text-center mt-4">Editing article</h1> 

  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="card shadow rounded-3" style="background-color: #009688; border: none;">
        <div class="card-body">
          <%= render "form", article: @article %>
        </div>
      </div>
      <div class="text-center mt-3">
        <%= link_to "Show this article", @article, class: "text-decoration-none text-primary", style: "color: #007bff;" %> |
        <%= link_to "Back to articles", articles_path, class: "text-decoration-none text-primary", style: "color: #007bff;" %>
      </div>
    </div>
  </div>
</div>