<p style="color: green"><%= notice %></p>

<h1 class="text-center mt-4">Listing all articles</h1> 

<div class="container">
  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= render article %></h5>
            <p class="card-text"><%= link_to "Show this article", article %></p>
            <a href="#" class="btn btn-primary">
              <%= link_to "New article", new_article_path %>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>