 <div class="jumbotron">
            <h1 class="display-4">My name is Elzbieta but call me Ella</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p>Discover the stories, challenges, and triumphs of my adventure through coding and tech education. This blog chronicles my experience from attending School of code BootCamp to becoming a software developer. Dive in to learn more about the world of coding through my eyes!</p>
            <p class="lead">
                <button type="button" class="btn btn-primary btn-lg">Learn more</button>
            </p>
        </div>
