<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white">
            <h1 class="display-4">Welcome to Ella Blog</h1>
            <p class="lead">Discover the stories, challenges, and triumphs of my adventure through coding and tech education.</p>
            <hr class="my-4">
            <p>Learn more about the world of coding through my eyes!</p>
            <p class="lead">
                <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
            </p>
        </div>
    </div>
</div>


    