<footer class="bg-dark text-white text-center py-3">
  <p id="copyRightYear">© Alpha Blog. All rights reserved.</p>
</footer>
<script>
  document.getElementById('copyRightYear').textContent = `© ${new Date().getFullYear()} Alpha Blog. All rights reserved.`;
</script>
